      @media(max-width:375px) {
          .logo {
              margin-top: 47px;
              width: 100%;
          }
          .logo img {
              width: 40%;
          }
          .logo h1 {
              width: 40%;
              font-size: 40px;
              margin-top: 10px;
          }
          .cabecalho nav {
              display: block;
              left: 0px;
              top: 191px;
              text-align: center;
              width: 100%;
          }
          .cabecalho ul li a {
              padding: 10px 41px;
              font-size: 40px;
          }
          .cabecalho ul li {
              width: 100%;
              margin: 20px 10px;
          }
          .botao {
              display: inline-block;
              margin: 73px 0px 0px 0px;
          }
      }