.painel {
    background-color: #181D29;
    max-width: 1440px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.card h2 {
    font-weight: 700;
    color: white;
    font-size: 29px;
    line-height: 34.8px;
    margin-top: 21px;
}

.card p {
    margin: 5px auto;
    width: 288px;
    height: 66px;
    color: white;
    font-size: 19px;
    line-height: 22.33px;
}

.card img {
    width: 89px;
    height: 90px;
    margin-top: 71px;
}